
@mixin alert ($colorfondo){
    color: white;
    text-decoration: none;
    padding: 2% 5%;
    border-radius: 5px;
    border: none;
    background-color: $colorfondo;
}

.background-color-error{
    @include boton (red);
}

.background-color-fine{
    @include boton ($secondary-color);
}